* {
	font-family: 'Roboto', sans-serif;
}

a:link{
  color: #00003E;
}

a:visited{
	color: #00003E;
}

nav{
	margin: 0px;
    padding-top: 16px;
}

.navbar-brand img{
	width: 30px;
	height: 30px;
}
nav a{
	text-decoration: none;
	text-align: center;
    padding: 14px 16px;
    
}

.active{
	text-transform: uppercase;
	color: #00003E;
}

nav a:hover {
    background-color: grey;
}

.container {
  margin: 0 auto;
  max-width: 1200px;
  padding: 0 1rem;
}

.responsive-image {
  max-width: 100%;
}

img {
  max-width:100%;
  height:auto;
}
.cell img {
  display: block;
}

@media screen and (min-width: 600px) {
  .grid {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }
  .cell {
    width: 50%;
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(100% / 3);
  }
}

.cell {
  margin: 1rem;
}

@media screen and (min-width: 600px) {
  .cell {
    width: calc(50% - 2rem);
  }
}

@media screen and (min-width: 1000px) {
  .cell {
    width: calc(33.3333% - 2rem);
  }
}

i{
	color: black;
}

i:hover{
	color: grey;
}

footer{
	background-image: url("../images/blur.png");
	/* Full height */
    height: 100%; 
    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

/* https://www.w3schools.com/css/css_rwd_mediaqueries.asp */
@media screen and (min-width: 600px) {
  p {
    font-size: 20px;
  }
}

@media screen and (max-width: 600px) {
  p {
    font-size: 12px;
  }
}

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}


@media screen and (max-width: 600px) {
  p{
    display: none;
  }
}


@media screen and (orientation: portrait) {
  img.cookbook{
    display: none;
  }
}

@media screen and (orientation: landscape) {
  footer{
  	background-image: none;
  }
}

