nav{
	margin: 0px;
    padding-bottom: 16px;
}
nav a{
	text-decoration: none;
	text-align: center;
    padding: 14px 16px;
}

.active{
	text-transform: uppercase;

}

nav a:hover {
    background-color: grey;
}
